{% extends "xrechnung_light/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>Einfache Webanwendung zur Erstellung von digitalen Rechnungen gemäß dem aktuellen Standard <a href="https://xeinkauf.de/xrechnung/" target="_blank">XRechnung 3.0.2</a></p>
<p>Der Betreiber übernimmt keinerlei Verantwortung für die Funktionsfähigkeit und Zuverlässigkeit der Anwendung. Es handelt sich nur um ein <b>Proof of Concept</b>. Solange die Anwendung online ist, kann und darf sie von jedermann kostenfrei verwendet werden. Für die Sicherheit der Daten wird ebenfalls keine Verantwortung übernommen. Nutzer sollten nur ihre eigenen Daten sehen und editieren können. Das Projekt dient als Test zur Prüfung von Funktionen des zugrundeliegenden Webframeworks <a href="https://www.djangoproject.com/" target="_blank">Django</a> und wurde innerhalb weniger Tage unter Nutzung von <a href="https://docs.djangoproject.com/en/5.0/topics/class-based-views/generic-display/" target="_blank">class-based generic views</a> umgesetzt ;-) .</p>
<h4>Funktionen</h4>
<ul>
    <li>Firmenliste</li>
    <li>Kundenliste</li>
    <li>Adressliste</li>
    <li>Rechnungen (mit Anlagen)</li>
    <li>Export XRechnung</li>
    <li>Import XRechnung (mit eingebetteten Anlagen)</li>
    <li>PDF-Export</li>
    <li>Import/Export von Positionen in Form von CSV-Dateien</li>
</ul>
<h4>Technische Informationen</h4>
<ul>
    <li><a href="https://github.com/armin11/xrechnung_light" target="_blank">Projekt auf GitHub</a></li>
    <li><a href="https://github.com/itplr-kosit" target="_blank">Github Repo der Kosit</a></li>
    <li><a href="https://xeinkauf.de/app/uploads/2024/07/302-XRechnung-2024-06-20.pdf" target="_blank">Standard</a></li>
</ul>
<h4>Validatoren</h4>
<ul>
    <li><a href="https://erechnungsvalidator.service-bw.de/" target="_blank">Baden-Württemberg</a></li>
</ul>
{% endblock %}